<header>
  <nav>
    <a href="/">
      <img
        src="/images/logo.png"
        alt="Stolabase - Go to homepage"
        class="logo"
      />
    </a>
    <ul>
      <li>
        <button type="button" class="search">
          <img src="/icons/search-white.svg" alt="search" />
        </button>
      </li>
      <% links.forEach(link => { %>
      <li><a href="<%= link.url %>"><%= link.name %></a></li>
      <% }) %>
    </ul>
  </nav>
</header>
