<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <script src="/js/navbar.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {links}) %>

    <div class="main-container">
      <h1><%= title %></h1>
      <section class="gamelist-container">
        <% games.forEach(game => { %> <%- include('partials/gameCard', {game})
        %> <% }) %>
      </section>
    </div>
  </body>
</html>
