/* Josh Comeau's CSS reset */
/* https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*----- END OF RESET -----*/

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #273c2c;
  color: #acc3a6;
  display: flex;
  flex-direction: column;
}
/* ========== HEADER ========== */
header {
  padding: 1rem 3rem;
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header > nav > ul {
  display: flex;
  gap: 1rem;
}

nav > ul > li {
  text-decoration: none;
  list-style: none;
}

nav .search {
  background: none;
  border: none;
  cursor: pointer;
}

.search img {
  min-width: 100%;
  max-width: 24px;
}

nav a {
  text-decoration: none;
  color: #acc3a6;
}

header .logo {
  max-width: 35px;
  min-width: 100%;
  height: auto;
  filter: invert(88%) sepia(24%) saturate(223%) hue-rotate(62deg)
    brightness(83%) contrast(89%);
}

/* ========== HEADER ========== */

.placeholder {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  gap: 4rem;
}

.main-container > section {
  max-width: 60%;
  width: 100%;
}

.main-container h1 {
  width: max-content;
  border-bottom: 2px #acc3a6 solid;
}

/*========== CARD CONTAINER ==========*/

.card-container {
  display: flex;
  gap: 2rem;
  padding: 1.5rem 0;
  overflow-x: auto;
}

.card-container > * {
  flex: 0 0 auto;
}

/* ========== SCROLLING =========== */

.carousel-container {
  position: relative;
}

.dragging {
  cursor: grabbing;
  user-select: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.644);
  border: none;
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
  z-index: 2;

  opacity: 0.6;
  transition: opacity 0.2s;
}

.arrow.left {
  left: 10px;
  padding-right: 0.3rem;
}

.arrow.right {
  right: 10px;
  padding-left: 0.3rem;
}

.arrow img {
  width: 24px;
}

.card-container {
  scrollbar-width: none;
}

/* Chrome, Edge, Safari */
.card-container::-webkit-scrollbar {
  display: none;
}

.arrow:hover {
  opacity: 1;
}
/* ========== SCROLLING =========== */

/*========== CARD CONTAINER ==========*/

/*========== GAME CARD ==========*/
.game-card {
  cursor: pointer;
  display: flex;
  max-width: 190px;
  width: 100%;
  flex-direction: column;
  background-color: #bbceb6;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
}

.game-card__img {
  background-color: rgb(168, 168, 168);
  /* aspect-ratio: 2/3; */
  width: 100%;
  overflow: hidden;
}

.game-card__img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.game-card__info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.6rem;
  font-size: 1.1rem;
}

.game-card__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.game-card__info > div {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.game-card__info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-card:hover .game-card__title {
  color: #396eaa;
}
/*========== GAME CARD ==========*/

/*========== GAME PAGE ==========*/

.game-container {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 3rem;
  gap: 4rem;
}

.game-container a {
  color: white;
}

/*========== GAME PAGE ==========*/

/*========== ALL GAMES PAGE ==========*/

.gamelist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
  gap: 2rem;
}

/*========== ALL GAMES PAGE ==========*/

/*========== GENRE PAGE ==========*/

.genres-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.genre-card {
  background-color: #bbceb6;
  padding: 1.5rem;
  border-radius: 15px;
}

.genre-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.genre-card:hover {
  cursor: pointer;
  opacity: 0.5;
}

/*========== GENRE PAGE ==========*/

/*========== DEVELOPER PAGE ==========*/

.developers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.developer-card {
  background-color: #bbceb6;
  padding: 1.5rem;
  border-radius: 15px;
}

.developer-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.developer-card:hover {
  cursor: pointer;
  opacity: 0.5;
}

/*========== DEVELOPER PAGE ==========*/
